@model Performer

@{
    ViewData["Title"] = "Usuwanie wykonawcy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć tego wykonawcę?</h3>
<div>
    <h4>Wykonawca</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainStyle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainStyle)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Powrót do listy</a>
    </form>
</div>
