@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><div class="form-group"><a class="btn btn-dark @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profil</a></div></li>
    <li class="nav-item"><div class="form-group"><a class="btn btn-dark @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></div></li>
    <li class="nav-item"><div class="form-group"><a class="btn btn-dark @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Hasło</a></div></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><div class="form-group"><a id="external-login" class="btn btn-dark @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Logowanie zewnętrzne</a></div></li>
    }
    <li class="nav-item"><div class="form-group"><a class="btn btn-dark @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Uwierzytelnianie dwustopniowe</a></div></li>
    <li class="nav-item"><div class="form-group"><a class="btn btn-dark @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Dane personalne</a></div></li>
</ul>
